/* Tuning Parts Text Styling */
.tuning-parts-text-container {
    text-align: center;          /* Center the text */
    position: absolute;          /* Use absolute for fixed layout */
    top: 660px;    /* Align vertically with other toggles */
    left: 362px;   /* Horizontal position */
    z-index: 1;                  /* Ensure it's above blocking elements */
}

.tuning-parts-text {
    font-size: 20px;             /* Text size */
    font-family: "Times New Roman", Times, serif;  /* Font style */
    font-weight: bold;           /* Bold text */
    color: #000000;              /* Black color */
}
